/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styles */
header {
    background-color: #3498db;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Login Container Styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.login-form, #verification-form {
    background-color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    border: 2px solid #3498db;
}

.login-form h2, #verification-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.input-group button:hover {
    background-color: #2980b9;
}

.divider {
    margin: 20px 0;
    font-size: 14px;
    color: #aaa;
}

.google-button {
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ddd;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.google-button img {
    width: 30px;
    height: 30px;
}

.google-button:hover {
    background-color: #f4f4f4;
}

/* Notification Styles */
.notification {
    background-color: #444;
    color: #fff;
    padding: 15px;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;
}

.notification.show {
    opacity: 1;
    bottom: 30px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .login-form, #verification-form {
        width: calc(100% - 40px);
        padding: 20px;
    }
}
